.header--blog-overview {
    padding: 0 50px;
}

.blog-overview-container {
    display: flex;
    flex-direction: column;
}

.blog-item h3 {
    color: var(--color-primary);
}

.blog-item {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    max-width: 640px;
    margin: 12px;
    padding: 16px 24px;
}